p {
font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 15px;
}

i {
font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 12px;
}

h1 {
font-family: 'Ubuntu Condensed', sans-serif; font-weight: 400; font-size: 5vw; margin: 0px; padding: 0px;
}

h2  {
font-family: 'Ubuntu Condensed', sans-serif; font-weight: 400; font-size: 2vw;  padding: 0px; margin: 0px;
}

h3 {
font-family: 'Ubuntu Condensed', sans-serif; font-weight: 400; font-size: 1.5vw; padding: 0px, margin: 0px;
}

h4 {
font-family: 'Open Sans', sans-serif; font-weight: 700; font-size: 1vm; color: gray; margin: 0px; padding: 0px;
}

h5 {
font-family: 'Ubuntu Condensed', sans-serif; font-weight: 400; font-size: 20px; color:black; margin: 0px; padding: 0px;
}

ul {
font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 0.8vm; 
}
li {
    font-family: 'Open Sans', sans-serif: font-weight: 400; font-size: 15px;
}

a:link {color: #6F7282; text-decoration: none;}      
a:visited {color: #6F7282; text-decoration: none;}  
a:hover {color:lightgray; text-decoration: none;}  
a:active {color: #6F7282; text-decoration: none;} 


ul {
    list-style-position: inside;
}

a {
font-family: 'Open Sans', sans-serif;
font-weight: 400px;
font-size: 13px;
margin: 0px;
padding: 0px;
color: #6F7282;
}

.container {
height: 100%;
width: 100%;
//border: 2px solid black;
position: relative
}

.header {
text-align: center;
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
margin-bottom: auto;
padding-top: 0px;
height: auto;
width: 100%;
background-color: #47A3FF;
border: 2px solid #2690ED;
box-shadow: 0px 2px 20px #222
}


.leftfloat {
float: left;
text-align: justify;
margin-left: 2%;
margin-right: 8%;
margin-top: 3%;
margin-bottom: 2%;
border: 2px solid #2690ED;  
max-height: 70%;
width: 25%;
min-width: 10%;
text-wrap: normal;
word-wrap: normal;
padding: 2%;
}


.rightfloat {
float: right;
padding: 1%;
text-align: justify;
margin-left: 8%;
margin-right: 2%;
margin-top: 3%;
margin-bottom: 2%;
border: 2px solid #2690ED;  
max-height: 70%;
width: 25%;
min-width: 10%;
text-wrap: normal;
word-wrap: normal;
}

.text
{
zoom: 100%;
position: absolute;
margin-left: 33%;
margin-right: 33%;
border: 2px hidden black;      
margin-top: 3%;
white-space: -moz-pre-wrap;
white-space: -pre-wrap;
white-space: -o-pre-wrap;   
word-wrap: normal;
overflow:hidden;
width: 33%;
padding-bottom:60px;   /*Height of the footer */
}

.linksdiv
{
text-align: center;
border: 2px hidden black;
width: 35%;
margin-left: 34%;
margin-right: 34%;
margin-top: 10px;
margin-bottom: 4px;
height: auto;
width: auto;
}

.head_quote
{
text-align: center;
border: 2px hidden black;
width: 35%;
margin-left: 34%;
margin-right: 34%;
margin-top: 10px;
margin-bottom: 4px;
height: auto;
width: auto;
}



.imagelinks
{
margin-left: 20%;
}

.stickyheader
{
position: fixed;
height: auto;
max-height:252px;
width: 100%;
z-index: 1;
}

.imagelinksdiv
{
margin-top: 67px;
margin-left: 1%;
width:6%;
border: 2px hidden black;
}

.footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
}

.copyright
{
position: absolute;
border: 2px hidden black;
float: left;
margin-left: 1px;
margin-right: 1px;
margin-top: 1px;
height: 13px;
}

.copyrighttext
{
font-family: 'Open Sans', sans-serif;
font-weight: 700px;
font-size: 10px;
color: white;
padding: 0px;
margin: 0px;
}

.texttitle {
border: 2px hidden black;
margin: 0px;
padding: 0px;
max-height: 40px;

}
.sidetext{
font-size: 15px;
}


.texttext
{
    text-align: center;
    display: block;
    margin-left: 2%;
    margin-right: 2%;
}

.largecenter
{
display: inline;
text-align: center;
margin-left: 5%;
margin-right: 5%;
/*margin-top: 13%;*/
width: 84%;
//border: 1px solid black;
position: absolute;
padding-left: 3%;
padding-right: 3%;
}

.centerc
{
margin-left: auto;
margin-right: auto;
width: auto;
}

.underhead
{
width: 100%;
height: 252px;
/*border: 2px solid black;*/
}

*
{
    margin: 0px;
    padding: 0px;
}

.project_table
{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 100%;
    display: table; 
}

.project_table_div
{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    height: 100%; 
    display: table;
}

.project_table_inner_div
{
    height: 100%;
    border: 2px solid #2690ED;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    display: table-cell;
}

.itemcontainer
{
    margin-bottom: 1% ;
    background-color: #E8E8E8;
    display: table;
    width: 100%;
    min-height: 15px;
    border: 1px solid;


}

.itemdetailsname
{
    float: left;
    /*width: 20%;*/
    background-color: #E8E8E8;
    padding: 1%;
    min-height: 18px;
}

/*Something about making these "display: inline" or something?*/

.itemdetails
{
    font-size: 0.5vm;
    background-color: #E8E8E8;
    width: 40%;
    padding: 1%;
    min-height: 18px;
    display: inline-block;
    float: right;
}

.details1
{
    max-width: 70%;
    float: right;
    margin: 4px;c:w

}

.details2
{
    width: auto;
    float: right;
}

.itembtns
{

    width: 35%;
    padding: 1%;
    float: left;
}

.btncontainer
{
    margin-left: 20%;
    margin-right: auto;
}

.itemcontainer * {font-size: 0.8vw!important;}

.filelistcenter
{
    zoom: 100%;
    position: absolute;
    margin-left: 33%;
    margin-right: 33%;
    border: 2px hidden black;      
    margin-top: 3%;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;   
    word-wrap: normal;
    overflow:hidden;
    width: 33%;
    padding: 0.5%;
    background-color: #47A3FF;
}
     
 
article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }
pre { margin: 0; }
pre.LineNumbers
{
    float: left;
    padding-right:2px;
    border-right: solid 1px black;
    margin-right:7px;
}

div.CodeBox 
{
    text-align: initial;
/*    border: solid 2px navy;i*/
    padding:2px;
    background-color: #E8E8E8;
}

.CodeBox * {font-family: monospace!important;}

.headlinks
{
    margin: 2%;
}
